{% extends 'base.html' %}

{% block rside %}
<h5 class="rside-cab">Empresas</h5>
<h5 class="rside-cab2">Tabla de localidades</h5>
<div class="">
  <table class="table">
      <tr>
          <th>id.</th>
          <th>Localidad</th>
          <th>Comunidad</th>
          <th></th>
      </tr>
      {% for localidad in localidades %}
      <tr>
          <td>{{ localidad.id }}</td>
          <td>{{ localidad.nombre}}</td>
          <td>{{ localidad.comunidad.nombre }}</td>
          <td></td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}