{% extends 'base.html' %}
{% block rside %}
<h5 class="rside-cab">Festivos de Comunidades Autónomas</h5>
<h5 class="rside-cab2">Tabla de días festivos</h5>
  <table class="table">
      <tr>
          <th>id.</th>
          <th>Fecha</th>
          <th>Festividad</th>
          <th>Comunidad</th>
          <th></th>
          <th></th>
      </tr>
      {% for festivo in festivoscomunitarios %}
      <tr>
          <td>{{ festivo.id }}</td>
          <td>{{ festivo.fecha}}</td>
          <td>{{ festivo.nombre}}</td>
          <td>{{ festivo.comunidad.nombre }}</td>
          <td></td>
          <td></td>
      </tr>
      {% endfor %}
  </table>
  <div id="separador"></div>
</div>
{% endblock %}