{% extends 'base.html' %}
{% block rside %}
<h5 class="rside-cab">Festivos de localidades</h5>
<h5 class="rside-cab2">Tabla de días festivos locales</h5>
<table class="table">
    <tr>
        <th>id.</th>
        <th>Fecha</th>
        <th>Festividad</th>
        <th>Localidad</th>
        <th>Comunidad</th>
        <th></th>
    </tr>
    {% for festivo in festivoslocales %}
    <tr>
        <td>{{ festivo.id }}</td>
        <td>{{ festivo.fecha}}</td>
        <td>{{ festivo.nombre}}</td>
        <td>{{ festivo.localidad.nombre }}</td>
        <td>{{ festivo.localidad.comunidad.nombre }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
<div id="separador"></div>
{% endblock %}